*.xcbkptlist
*.xcuserstate

iphone/ChangeIt/ChangeIt/Base.lproj/Main.storyboard

*.storyboard

iphone/ChangeIt/ChangeIt/Base.lproj/Main.storyboard

iphone/ChangeIt/ChangeIt/ItemDetailController.swift

iphone/ChangeIt/ChangeIt/Base.lproj/Main.storyboard

iphone/ChangeIt/ChangeIt/Base.lproj/Main.storyboard
